#mapstore-navbar-container{
    // height: 75px !important;
}
.navbar-home {
    height: 150px;
    background-color: #1B216A !important;
    .dropdown {
        a {
            color: black !important;
        }
    }

    a {
        color: white !important;
    }

    a:hover {
        background: none !important;
    }
    a:active {
        background: none !important
    }
    a:focus {
        background: none !important
    }
}
